@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--Gray-Palette-White, #FFF);
  border-radius: 44px;
  width: 100%;
  max-width: 414px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}

h1 {
  color: var(--Base-Black, #050505);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.25px;
  margin: 16px 0;
}

h2 {
  color: var(--Base-Black, #050505);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 8px 0;
}

p, .description {
  color: var(--Gray-Palette-Black, #000);
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  margin: 8px 0;
}

button {
  display: flex;
  height: 56px;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  background: var(--Gray-Palette-Black, #000);
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s;
}

button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background: #333;
}

